<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div #content>
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                    <p class="mb-5 text-center" *ngIf="cartArray">
                        <i class="text-info font-weight-bold">{{cartArray.length}}</i>
                        items in your cart
                    </p>
                    <p class="mb-5 text-center" *ngIf="!cartArray">
                        No items in your cart
                    </p>
                    <table id="shoppingCart" class="table table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th style="width:60%">Product</th>
                                <th style="width:12%">Price</th>
                                <th style="width:10%">Quantity</th>
                                <th style="width:16%">Total</th>
                                <th style="width:16%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let elem of cartArray">
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img [src]="elem.images[0]" alt=""
                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h4>{{elem.title}}</h4>
                                            <p class="font-weight-light">{{elem.category}} &amp;
                                                &nbsp;{{elem.child_category}} </p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">{{elem.price | currency:'₾ '}}</td>
                                <td data-th="Quantity">
                                    <form [formGroup]="quantityForm">
                                        <div class="form-group">
                                            <input type="number" [formControlName]="elem.title"
                                                class="form-control form-control-lg text-center">
                                        </div>
                                    </form>
                                </td>
                                <td data-th="Price">{{elem.curentTotalPrice | currency:'₾ '}}</td>
                                <td class="actions" data-th="">
                                    <div class="text-right">
                                        <button class="btn btn-white border-secondary bg-white btn-md mb-2"
                                            (click)="removeFromCart(elem)">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <h4>Subtotal:</h4>
                        <h1>{{totalPrice | currency:'₾ '}}</h1>
                    </div>
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-sm-6 order-md-2 text-right">
                    <button class="btn btn-primary mb-4 btn-lg pl-5 pr-5" (click)="postOrder()">Get Invoice</button>
                </div>
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a routerLink="../catalogue">
                        <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>